<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        body {
            margin: 0;
            background: linear-gradient(-45deg, #003973, #E5E5BE);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0 50%;
            }
        }


        .jumbotron {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 3rem;
            border-radius: 1rem;
            box-shadow: 0 0 1rem rgb(0 0 0 / 50%)
        }
        .navbar {
            margin: 20px 0;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 1rem rgb(0 0 0 / 50%);
        }
        p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-style: oblique;
            font-family: "Helvetica Neue", cursive;
        }
    </style>
</head>
<body class="container" style="height: 100vh;">
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">AlwaysOnline</a>
        <a class="navbar-brand" href="/news" id="news">Новости</a>
        <a class="navbar-brand" href="/messages" id="message">Сообщения</a>
        <a class="navbar-brand" href="/addfriend" id="friends">Пользователи</a>
        <a class="navbar-brand" onclick="localStorage.clear()" href="/logout">выйти</a>
        <a class="navbar-brand"  href="/profile"><%=login%></a>
        <div class="t706__product-del">
            <img class="profile-image" id="profile-image" style="width: 58.5px; height: 58.5px; object-fit: cover; border-radius: 50%" src="<%=avatar%>">
        </div>
    </nav>
</header>
<main>
    <!-- Модальное окно -->
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-header">
                <h2><i class="fas fa-exclamation-triangle"></i>Error</h2>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="friends-wrapper">
            <div class="friends-news">
                <% for (const friend of friends) { %>
                    <div class="friends-container">
                        <div class="t706__product-del">
                            <img class="profile-image" id="profile-image" style="width: 58.5px; height: 58.5px; object-fit: cover; border-radius: 50%" src="<%= friend.friends.avatar %>">
                        </div>
                        <div class="friends-owner">
                            <p><span style="font-size: 1.2em; font-weight: bold"><%= friend.friends.username %></span></p>
                        </div>
                        <div class="friends-caption"><p></p></div>
                        <button onclick="deleteFriends('<%= friend.friends.usermail %>', '<%= friend.friends.userId %>')">Удалить друга</button>
                    </div>
                    <hr />
                <% } %>
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script>
    // Получаем модальное окно и элементы в нем
    const modal = document.getElementById("errorModal");
    const modalText = document.getElementById("errorMessage");
    const closeBtn = document.getElementsByClassName("close")[0];

    // Функция, которая показывает модальное окно с заданным текстом
    function showErrorModal(text) {
        modalText.textContent = text;
        modal.style.display = "block";
    }

    // Закрываем модальное окно при клике на кнопку "закрыть"
    closeBtn.onclick = function() {
        modal.style.display = "none";
        location.reload()
    }

    // Закрываем модальное окно при клике на область вокруг него
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    async function deleteFriends(friendMail, friendId) {
        try {
            const response = await fetch('/myfriends', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ friendMail, friendId })
            });
            const data = await response.json();

            if (data.status == "fail"){
                showErrorModal(data.message);
            } else if (data.code == 1){
                showErrorModal(data.message);
            } else {
                showErrorModal(data.response);
            }
        } catch (error) {
            showErrorModal(error);
        }
    }
</script>
</body>
</html>