<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        body {
            margin: 0;
            background: linear-gradient(-45deg, #003973, #E5E5BE);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0 50%;
            }
        }


        .jumbotron {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 3rem;
            border-radius: 1rem;
            box-shadow: 0 0 1rem rgb(0 0 0 / 50%)
        }
        .navbar {
            margin: 20px 0;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 1rem rgb(0 0 0 / 50%);
        }
        p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-style: oblique;
            font-family: "Helvetica Neue", cursive;
        }
    </style>
</head>
<body class="container" style="height: 100vh;">
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">AlwaysOnline</a>
        <a class="navbar-brand" href="/news" id="news">Новости</a>
        <a class="navbar-brand" href="/messages" id="message">Сообщения</a>
        <a class="navbar-brand" href="/addfriend" id="friends">Пользователи</a>
        <a class="navbar-brand" onclick="localStorage.clear()" href="/logout">выйти</a>
        <a class="navbar-brand"  href="/profile"><%=login%></a>
        <div class="t706__product-del">
            <img class="profile-image" id="profile-image" style="width: 58.5px; height: 58.5px; object-fit: cover; border-radius: 50%" src="<%=avatar%>">
        </div>
    </nav>
</header>
<main>
    <div class="jumbotron">
        <div class="friends-wrapper">
            <div class="friends-news">
                <% for (const friend of friends) { %>
                    <div class="friends-container">
                        <div class="t706__product-del">
                            <img class="profile-image" id="profile-image" style="width: 58.5px; height: 58.5px; object-fit: cover; border-radius: 50%" src="<%= friend.friends.avatar %>">
                        </div>
                        <div class="friends-owner">
                            <p><span style="font-size: 1.2em; font-weight: bold"><%= friend.friends.username %></span></p>
                        </div>
                        <div class="friends-caption"><p></p></div>
                        <a href="/start-chat?to=<%= encodeURIComponent(friend.friends.userId) %>">Написать сообщение</a>
                    </div>
                    <hr />
                <% } %>
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script>
    async function sessionUser() {
        try {
            const response = await fetch('/messages');
            if (response.ok) {
                const data = await response.json();
                if (data.code == 1) {
                    // Отобразить сообщение об ошибке и перейти на страницу логина
                    showErrorMessage(data.message);
                    window.location.href = "/login";
                } else {
                    // Перезагрузить страницу
                    location.reload();
                }
            } else {
                // Обработать ошибку HTTP
                showErrorMessage(`Ошибка HTTP: ${response.status} ${response.statusText}`);
            }
        } catch (error) {
            // Обработать ошибку сети или парсинга JSON
            showErrorMessage(`Ошибка: ${error.message}`);
        }
    }

    function showErrorMessage(message) {
        // Отобразить сообщение об ошибке, например, в модальном окне или уведомлении
        console.error(message);
    }
</script>
</body>
</html>
